<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <% @cuisines.each do |cuisine| %>
      <tr>
        <td>
          <%= link_to "#{cuisine.name}", cuisine_path(cuisine) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
