<div class='container-fluid'>
  <div class='row'>
    <% @entrees.each do |entree| %>
      <div class='card mx-auto hvr-grow-shadow' id=<%= "js-entree-#{entree.id}" %>>
        <%= render 'entrees/entree_card_text', entree: entree %>
      </div>
    <% end %>
  </div>
</div>
