<div class='container-fluid'>
  <div class='row'>
    <% @sides.each do |side| %>
      <div class='card mx-auto hvr-grow-shadow' id=<%= "js-side-#{side.id}" %>>
        <%= render 'sides/side_card_text', side: side %>
      </div>
    <% end %>
  </div>
</div>
