<div class='container-fluid'>
  <div class='row'>
    <% @staples.each do |staple| %>
      <div class='card mx-auto hvr-grow-shadow' id='js-staple-<%= staple.id %>'>
        <%= render 'partials/staple_card_text', staple: staple %>
      </div>
    <% end %>
  </div>
</div>
