<% ingredient = Ingredient.find(v["ingredient_id"]) %>

<% if v.key?("Whole") && v.key?("ingredient_id") %>
  <div id=<%= "js-ingredient-#{v['ingredient_id']}" %>>
    <%= render 'simple_k_v', ingredient: ingredient, k: k, v: v %>
  </div>
<% else %>
  <div id=<%= "js-ingredient-#{v['ingredient_id']}" %>>
    <%= render 'multiple_k_v', ingredient: ingredient, k: k, v: v %>
  </div>
<% end %>
