<div class='container'>
  <div class='row'>
    <div class='col d-flex justify-content-center'>
      <h3>This week's shopping list.</h3>
    </div>
  </div>
  <br />
  <%= render 'grocery_list' %>
</div>

<div class='row'>
  <div class='col d-flex justify-content-center'>
    <%= link_to 'Finished Shopping', grocery_lists_finished_shopping_path,
                                     class: 'btn btn-secondary mb-5',
                                     data: { confirm: 'You sure?' } %>
  </div>
</div>
