<div class='container'>
  <div class='row'>
    <div class='col d-flex justify-content-center'>
      <h3>This week's shopping list.</h3>
    </div>
  </div>
  <br />
  <div class='row d-flex justify-content-center'>
    <ul>
      <% @grocery_list.grocery_quantity.each do |k, v| %>
        <% if v["ingredient_id"].present? %>
          <%= render 'ingredient_k_v', k: k, v: v %>
        <% else %>
          <%= render 'staple_k_v', v: v %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='col d-flex justify-content-center'>
    <%= link_to 'Finished Shopping', grocery_lists_finished_shopping_path,
                                     class: 'btn btn-secondary mb-5',
                                     data: { confirm: 'You sure?' } %>
  </div>
</div>
