<table>
  <thead>
    <tr>
      <th>Entree Calories</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @food_logs.each do |log| %>
      <tr>
        <td><%= log.entree_calories %></td>
        <td><%= log.created_at.strftime('%D%M%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
