
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @groceries.each do |grocery| %>
      <tr>
        <td><%= grocery.name %></td>
        <td><%= grocery.created_at %></td>
        <td><%= link_to 'Show', grocery_path(grocery), remote: true, params: { groc_id: grocery.id } %></td>
        <td id='magic-div-<%= "#{grocery.id}" %>'></td>
      </tr>
    <% end %>
  </tbody>
</table>
