<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <% @groceries.each do |grocery| %>
      <tr>
        <td>
          <%= link_to "#{grocery.name}", grocery_path(grocery) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
