<table>
  <thead>
    <tr>
      <th>
        Measure
      </th>
    </tr>
  </thead>
  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td>
          <%= link_to "#{measurement.measure}", measurement_path(measurement) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
