<h3>Meals for this week:</h3>
<br />
You are <%= current_user.email %>
You're on <%= request.env['PATH_INFO'] %>
<%= render 'grocery_list' %>
<br />
<div class='row'>
  <%= render 'partials/meal_cards' %>
</div>
