<h1>Dashboards#index</h1>
<p>Find me in app/views/dashboards/index.html.erb</p>

<p><%= link_to 'See all users', users_path %></p>
<p><%= link_to 'See all meals', meals_path %></p>
<% if current_user.admin? %>
  <p><%= link_to 'See all groceries', groceries_path %></p>
  <p><%= link_to 'See all measurements', measurements_path %></p>
<% else %>
  hidden link
<% end %>
