html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f3f3f3;
  margin: 33px;
}

ul {
  column-count: 2;
}

ul ul {
  column-count: 1;
}

li {
  padding: 0 5px 0 5px;
}

.navbar {
  padding: 2%;
}

.container {
  padding-top: 1em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.page {
  padding-top: 1em;
  // display: flex;
  max-width: inherit;
  flex-flow: column wrap;
  justify-content: center;
}

.alert {
  background-color: #ff0f0f;
}

.notice {
  background-color: #ACDF87;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

.page-heading {
  margin: 1rem;
}

table {
  display: inline-table;
  margin: auto;
}

th {
  padding-bottom: 5px;
  padding-right: 5px;
}

td {
  padding: 0 5px 7px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sized-image {
  max-width: 250px;
  max-height: 250px;
}

.strike {
  text-decoration: line-through;
  text-decoration-thickness: 2.5px;
  color: black;
}

.card {
  width: 15rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-img-top {
  height: 100%;
  width: 100%;
}

.hvr-grow-shadow {
  // display: inline-block;
  // vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img-fluid {
  max-width: 100% !important;
  height: auto !important;
}

.james {
  font-size: 50px;
  color: blue;
}

.in_stock {
  color: black;
  text-decoration: line-through;
  text-decoration-thickness: 2.5px;
  color: black;

  a {
    color: black;
  }
}
